@import "tailwindcss";

html, body {
  overflow: hidden;
  overscroll-behavior: none;
  height: 100%;
}

* {
  touch-action: manipulation;
}

/* iOS Safari 관성 스크롤 활성화 */
[data-scroll] {
  -webkit-overflow-scrolling: touch;
}
